{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Tableau de bord
{% endblock %}

{% block main %}
    <div class="content-panel">
        <div class="content-panel-body">
            <h2>Bienvenue dans le back-office Canopées</h2>

            <p>
                Utilisez le menu de gauche pour gérer les contenus du site vitrine.
            </p>

            <hr>

            <h3>Gestion disponible</h3>

            <ul>
                <li>Contenus des pages</li>
                <li>Photos du slider</li>
                <li>Public cible</li>
                <li>Réalisations</li>
                <li>Biographies de Bob et Tom</li>
                <li>Prestations et tarifs</li>
                <li>Messages de contact</li>
                <li>Profil administrateur</li>
            </ul>
        </div>
    </div>
{% endblock %}